.navbar-style {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(114, 182, 238, 1) 70%, rgba(0, 212, 255, 1) 100%);
}

.navbar-brand {
    white-space: nowrap;
    position: relative;
    color: transparent !important;
}

.navbar-brand::before {
    content: 'PROVASHISH';
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(7 241 241 / 42%);
    animation: typing 3s linear infinite;
}

.nav-item a:hover {
    color: rgb(12, 12, 12) !important;
    /*  background: #121FCF;
    background: linear-gradient(to right, #121FCF 32%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}


@keyframes typing {
    0% {
        content: 'P';
    }

    6% {
        content: 'PR ';
    }

    12% {
        content: 'PRO';
    }

    18% {
        content: 'PROV';
    }

    24% {
        content: 'PROVA';
    }

    30% {
        content: 'PROVAS';
    }

    36% {
        content: 'PROVASH';
    }

    42% {
        content: 'PROVASHI';
    }

    48% {
        content: 'PROVASHIS';
    }

    54% {
        content: 'PROVASHISH';
    }

    60%,
    89% {
        content: 'PROVASHISH';
    }

    90% {
        content: 'PROVASHIS';
    }

    91% {
        content: 'PROVASHI';
    }

    92% {
        content: 'PROVASH';
    }

    93% {
        content: 'PROVAS';
    }

    94% {
        content: 'PROVA';
    }

    95% {
        content: 'PROV';
    }

    96% {
        content: 'PRO';
    }

    97% {
        content: 'PR';
    }

    98% {
        content: 'P';
    }

    99% {
        content: ' ';
    }

    100% {
        content: ' ';
    }
}

.background-img {
    background-image: url('../images/bg-2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 450px 0px;
}

.white-img {
    background-image: url('../images/white.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-inner {
    border: 3px solid #23355F;
    border-radius: 50px;
}




.text-color {
    color: #23355F;
}

.social-link i:hover {
    color: #000000 !important;
}

.btn-style {
    text-decoration: none;
    color: aqua;
    font-size: larger;
    font-weight: 700;
    padding: 12px 45px;
    border: 1px solid #4458c8;
    border-radius: 50px 0px 50px 0px;
    background: rgb(98, 149, 235);
    background: linear-gradient(90deg, rgba(98, 149, 235, 1) 0%, rgba(2, 0, 36, 1) 75%);
}

.btn-style:hover {
    color: aqua !important;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(98, 149, 235, 1) 87%);
}

/* About section ............... */


.profile-img {
    /* border: 1px solid rgb(52, 52, 104); */
    border-radius: 5%;
    width: 200px;
    background: rgb(27, 241, 242);
    /* background: linear-gradient(90deg, rgba(27, 241, 242, 1) 50%, rgba(2, 0, 36, 1) 77%);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
}

.project-details-btn {
    padding: 5px 10px;
    border: 1px solid #23355F;
    border-radius: 5px;
    font-weight: 700;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(98, 149, 235, 1) 87%);
    color: white;
    margin-top: 10px;
    margin-left: 8px;
}

.project-details-btn:hover {
    background: rgb(98, 149, 235);
    background: linear-gradient(90deg, rgba(98, 149, 235, 1) 0%, rgba(2, 0, 36, 1) 75%);
}

.project-live-btn {
    padding: 8px 8px;
    border: 1px solid #23355F;
    border-radius: 5px;
    font-weight: 700;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(98, 149, 235, 1) 87%);
    color: white;
    margin-top: 10px;
    text-decoration: none;
}

.project-live-btn:hover {
    color: white;
    background: rgb(98, 149, 235);
    background: linear-gradient(90deg, rgba(98, 149, 235, 1) 0%, rgba(2, 0, 36, 1) 75%);
}

.skills li {
    padding: 5px;
    margin-left: 5px;
    background-color: #04839c;
    margin-top: 5px;
    border-radius: 8px;
    color: #eeeeef;
}

.resume-anchor {
    text-decoration: none;
    background-color: #04839c;
    padding: 7px 13px;
    border-radius: 0px 50px 50px 0px;
    color: #67f7ff;
}

.resume-anchor:hover {
    background-color: #0a9cb9;
    color: rgb(253, 253, 253);
}

/* About section ............... */



.contact-img {
    background-image: url('../images/contact.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-img {
    background-image: url('../images/bg-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 280px 0px 0px 0px;
}

.blog-img {
    background-image: url('../images/12.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 280px 0px 0px 0px;
}

.input-style {
    width: 50%;
    padding: 5px 0px;
    border: 1px solid #1043c8;
    border-radius: 5px;
    background-color: #9bb9fb;
}


::placeholder {
    color: rgb(28, 101, 197);
    padding-left: 5px;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(28, 101, 197);
    padding-left: 5px;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(28, 101, 197);
    padding-left: 5px;
}

.footer-bg {
    background-color: #0B0F35;
}