.navbar-style {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(114, 182, 238, 1) 70%, rgba(0, 212, 255, 1) 100%);
}

.navbar-brand {
    white-space: nowrap;
    position: relative;
    color: transparent !important;
}

.navbar-brand::before {
    content: 'PROVASHISH';
    position: absolute;
    top: 0;
    left: 0;
    color: rgb(192, 241, 241);
    animation: typing 3s linear infinite;
}

.nav-item a:hover {
    color: rgb(12, 12, 12) !important;
    /*  background: #121FCF;
    background: linear-gradient(to right, #121FCF 32%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

}


@keyframes typing {
    0% {
        content: 'P';
    }

    6% {
        content: 'PR ';
    }

    12% {
        content: 'PRO';
    }

    18% {
        content: 'PROV';
    }

    24% {
        content: 'PROVA';
    }

    30% {
        content: 'PROVAS';
    }

    36% {
        content: 'PROVASH';
    }

    42% {
        content: 'PROVASHI';
    }

    48% {
        content: 'PROVASHIS';
    }

    54% {
        content: 'PROVASHISH';
    }

    60%,
    89% {
        content: 'PROVASHISH';
    }

    90% {
        content: 'PROVASHIS';
    }

    91% {
        content: 'PROVASHI';
    }

    92% {
        content: 'PROVASH';
    }

    93% {
        content: 'PROVAS';
    }

    94% {
        content: 'PROVA';
    }

    95% {
        content: 'PROV';
    }

    96% {
        content: 'PRO';
    }

    97% {
        content: 'PR';
    }

    98% {
        content: 'P';
    }

    99% {
        content: ' ';
    }

    100% {
        content: ' ';
    }
}